<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><center>Kanye West Quote Generator<center></h1>
    <table style="width:100%">
      <tr>
        <td><img src=<%= link%> width="350" height="350"></td>
        <td><h3><q><%= quote%></q> -Kanye West</h3></td>
      </tr>
    </table>

      <br>
      <br>
      <br>
      <center>
      <form class="" action="/" method="post">
        <button type="submit" name="button">Next Quote</button>
      </form>
      </center>

  </body>
</html>
